<ion-header>

  <ion-toolbar>
    <ion-title>Next Practice</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Settings
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-text *ngIf="!plan" class="ion-text-center">
    <h5>You don't have any future Practices <br>
      <ion-button routerLink="/add-plan" fill="clear">Add One</ion-button>
    </h5>
  </ion-text>


  <ion-text *ngIf="plan && !activities" class="ion-text-center">
    <h5>You don't have an activities for your next Practice <br>
      <ion-button (click)="addActivity()" fill="clear">Add One</ion-button>
    </h5>
  </ion-text>

  <ion-card (click)="viewNotes(currentActivity)" style="background: white;"
    *ngIf="activities && activities?.length > 0">
    <ion-card-header>

      <ion-card-subtitle>
        {{ currentActivity.name}}
        <ion-spinner *ngIf="!currentActivity"></ion-spinner>
      </ion-card-subtitle>
      <ion-card-title> {{ timer }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-label>
        <p>Next Activity: <b>{{ nextActivity?.name }} </b></p>
        <p> Start Time: <b>{{ nextActivity?.startTime }}</b></p>

      </ion-label>

    </ion-card-content>

  </ion-card>

  <ion-list>
    <ion-item (click)="viewNotes(activity)" *ngFor="let activity of activities">
      <ion-label class="active-drill">
        <h2> {{ activity.name }}</h2>
        <p> {{ activity.duration }} Minutes - {{ activity.startTime }} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>