<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/practice-plans"></ion-back-button>
    </ion-buttons>
    <ion-title>Plan</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="delete()">Delete</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list-header *ngIf="plan">
    <ion-datetime [min]="2019" [max]="maxDate" style="color: #3880ff" (ionChange)="updateTime()"
      pickerFormat="MMM DD, YY hh:mm A" displayFormat="DDD, MMM DD, YYYY h:mm A" [(ngModel)]="plan.isoDatetime"
      fill="clear">
    </ion-datetime>
  </ion-list-header>

  <ion-text *ngIf="activities?.length == 0" class="ion-text-center">
    <h5>You don't have any activities <br>
      <ion-button (click)="addActivity()" fill="clear">Add One</ion-button>
    </h5>
  </ion-text>



  <ion-text *ngIf="activities && activities?.length != 0">
    <h5>End Time: {{ this.endTime }}</h5>
  </ion-text>
  <ion-button *ngIf="activities && activities?.length != 0" (click)="addActivity()">Add Activity</ion-button>

  <ion-reorder-group *ngIf="plan" (ionItemReorder)="reorderItems($event)" disabled="false">
    <ion-item-sliding *ngFor="let activity of activities">
      <ion-item (click)="editActivity(activity)">
        <ion-label class="ion-text-wrap">
          {{ activity.name }}
          <p> {{ activity.duration }} minutes - {{ (activity.startTime) ? activity.startTime  : "No Start Time"}}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="dark">
            <ion-reorder slot="end"></ion-reorder>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item-options>
        <ion-item-option slot="end" color="danger" (click)="deleteActivity(activity)">Delete
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-reorder-group>
</ion-content>